# IR-Trigger.yaml
mode_entity: input_select.ir_remote_mode

transmitters:
  tx_study_ad00020p:
    name: "スタディのIR送信機 (AD00020P)"
    type: local_usb
    index: 1
    local_receivers:
      - rx_study_ad00020p
      - rx_study_atom
  tx_living_atom:
    name: "リビングのIR送信機 (AtomS3)"
    type: "esphome"
    entity_id: "remote.atom_s3_living"
    local_receivers:
      - rx_living_ad00020p

devices:
  C_RT1:
    name: "C-RT1"
    template: "C-RT1"

  TV_Study:
    name: "スタディのテレビ"
    transmitter: "tx_study_ad00020p"
    template: "J-MX100RC"

  Recorder_Study:
    name: "スタディのレコーダー"
    transmitter: "tx_study_ad00020p"
    template: "RC-R2"

  HDMI_Study:
    name: "スタディのHDMI"
    transmitter: "tx_study_ad00020p"
    force_aeha_tx: true
    template: "UGREEN-55857"

  Light_Living:
    name: "リビングのライト"
    transmitter: "tx_living_atom"
    template: "IR-A04HS"

modes:
  always:
    repeat:
      - TV_Study
      - Recorder_Study
      - HDMI_Study
      - Light_Living
  TV:
    bind:
      - source: C_RT1
        target: TV_Study
    remap:
      "NEC_56A939C6":
        - service: input_select.select_option
          target: { entity_id: input_select.ir_remote_mode }
          data: { option: "Recorder" }
