# IR-Trigger.yaml

transmitters:
  tx_study:
    name: "Study Transmitter"
    type: esphome
    node_name: "atom_s3_study"
    local_receivers: ["rx_study_webhook"]
  tx_living:
    name: "Living Room Transmitter"
    type: nature_remo
    ip: "192.168.1.30"
  tx_webhook:
    name: "Webhook Transmitter"
    type: webhook
    url: "http://192.168.1.50:8080/tx"

receivers:
  rx_study_webhook:
    name: "Study Webhook Receiver"
    type: webhook
  rx_living_nature:
    name: "Living Room Nature Remo Receiver"
    type: nature_remo
    ip: "192.168.1.30"
    poll_interval: 1.0

devices:
  C_RT1:
    name: "Master Remote"
    template: "media_player/C-RT1"

  TV_Study:
    name: "Study TV"
    transmitter: "tx_study"
    template: "media_player/J-MX100RC"

  Recorder_Study:
    name: "Study Recorder"
    transmitter: "tx_study"
    template: "media_player/RC-R2"

  Light_Living:
    name: "Living Light"
    transmitter: "tx_living"
    template: "light/IR-A04HS"

global:
  repeat:
    - TV_Study
    - Recorder_Study
    - Light_Living
  remap:
    "NEC-56A939C6":
      - service: input_select.select_option
        target: { entity_id: input_select.ir_remote_mode }
        data: { option: "Recorder" }

state_machines:
  - name: "Study AV CONTROL"
    mode_entity: input_select.ir_remote_mode
    modes:
      TV:
        bind:
          - source: C_RT1
            target: TV_Study
      Recorder:
        bind:
          - source: C_RT1
            target: Recorder_Study
